[Unit]
Description=matterbridge
After=network-online.target

[Service]
Type=simple
ExecStart=/home/shelly/matterbridge.sh
WorkingDirectory=/home/shelly/Matterbridge
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10s
TimeoutStopSec=30s

[Install]
WantedBy=default.target
